
.container {
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    display: flex;
    row-gap: 5px;
    column-gap: 5px;
  
}

.enero{
    text-align: center;
    width: 300px;
    order: 0;
}

.Febrero{
    text-align: center;
    width: 300px;
    order: 1;
}

ol {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    padding: 0%;
}

li{
    text-align: right;
}

.month{
    background-color: darkkhaki;
}

.first-day {
    grid-column-start: 6;
}

.day-name{
    background-color: cadetblue;
    font-weight: bold;
    text-align: right;
}